/test01/log/
test01/spiders/__pycache__/xtext.cpython-311.pyc
test01/spiders/__pycache__/guwen.cpython-311.pyc
.gitignore
test01/spiders/__pycache__/gushiwen.cpython-311.pyc
test01/__pycache__/items.cpython-311.pyc
test01/__pycache__/items.cpython-311.pyc
test01/__pycache__/items.cpython-311.pyc
test01/__pycache__/pipelines.cpython-311.pyc
/log/
